.bg-home {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(0,198,255,1);
  background: -moz-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,198,255,1)), color-stop(100%, rgba(0,114,255,1)));
  background: -webkit-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  background: -o-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  background: linear-gradient(to right, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff', GradientType=1 );
}

@media only screen and (max-width: 1680px) {
  .bg-home {
    background: rgba(0,198,255,1);
    background: -moz-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,198,255,1)), color-stop(100%, rgba(0,114,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
    background: linear-gradient(to right, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff', GradientType=1 );
  }
}