$white: #ffffff;
$dark: #000000;
$color1: #00C6FF;
$color2: #0072FF;
$color3: #6143A3;
$color3_5: #442B7B;
$color4: #ADADAD;
$color5: #498E77;
$color5_5: #296350;
$color6: #333333;
$color7: #007BFF;
$color8: #273141;
$color9: #969696;
$color10: #FF7700;
$color11: #A0CEFE;
$color12: #2770BE;
$color13: #737373;
$color14: #E3EAF0;
$color14_5: #C4D0DA;
$color15: #868686;
$color16: #7E8EA4;
$color17: #313D4E;

// ===================Text Color===================== \\
.text-purple {
  color: $color3;
}

.text-grey {
  color: $color4;
}

.text-green {
  color: $color5;
}

.text-white {
  color: $white;
}

.text-orange {
  color: $color10;
}

.text-light-blue {
  color: $color16;
}

.bg-orange {
  background: $color10;
  background-color: $color10;
}

.bg-personal {
  background: $color3;
  background-color: $color3;
}

.bg-business {
  background: $color5;
  background-color: $color5;
}

.bg-blue {
  background: $color7;
  background-color: $color7;
  color: $white;
}

.bg-white {
  background: $white;
  background-color: $white;
  color: $dark;
}

.link-white {
  &:hover {
    color: $white;
    text-decoration: none;
  }
}