.dash-wrapper {
  overflow: hidden;
}

.margin-left-sm {
  margin-left: 10px;
}

.bold-lg {
  font-weight: 700;
}

.bold-md {
  font-weight: 600;
}

.bold-sm {
  font-weight: 300;
}

.cust-input {
  border-left: none;
  padding-left: 5px;
  &:focus {
    border-left: none;
    box-shadow: none;
  }
}

.cust-border-btn {
  border: 1px solid $color16;
}

.label-horizontal {
  padding-top: 7px;
}

.fixed-bottom {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
}

// ===================Responsive Extra Small Device===================== \\
@media only screen and (min-width: 320px) {
  .title-lg {
    font-size: 28px;
  }
  
  .title-md {
    font-size: 24px;
  }

  .title-sm {
    font-size: 14px;
  }
  
  .title-xs {
    font-size: 11px;
  }
  
  .wrapper-btn {
    padding: 30px 0 15px 0;
  }
  
  .logo {
    margin: 20px 0;
  }
  
  .img-logo {
    width: 40px;
    height: 40px;
  }
}

// ===================Responsive Extra Small Device===================== \\
@media only screen and (min-width: 414px) {
  .title-lg {
    font-size: 32px;
  }
  
  .title-md {
    font-size: 28px;
  }

  .title-sm {
    font-size: 14px;
  }
  
  .title-xs {
    font-size: 13.5px;
  }
  
  .wrapper-btn {
    padding: 30px 0 15px 0;
  }
  
  .logo {
    margin: 25px 0;
  }
  
  .img-logo {
    width: 40px;
    height: 40px;
  }
  
  .margin-left-sm {
    margin-left: 10px;
  }
}

// ===================Responsive Small Device===================== \\
@media only screen and (min-width: 768px) {
  .title-lg {
    font-size: 36px;
  }
  
  .title-md {
    font-size: 32px;
  }

  .title-sm {
    font-size: 18px;
  }
  
  .title-xs {
    font-size: 14px;
  }
  
  .wrapper-btn {
    padding: 30px 0 15px 0;
  }
  
  .logo {
    margin: 30px 0;
  }
  
  .img-logo {
    width: 40px;
    height: 40px;
  }
}