// ===================Reset Default Bootstrap CSS===================== \\
body {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: normal;
}