.wrapper-home {
  padding: 0 100px;
}

.panel-home {
  width: 100%;
  height: auto;
  margin: 10px -10px;
  background: $white;
  background-color: $white;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  .panel-home-head {
    padding-bottom: 5px;
  }
  .personal {
    background: $color3;
    background-color: $color3;
    background-image: url('../images/logo-personal.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    .img-panel-home {
      width: 520px;
      height: 250px;
    }
  }
  .business {
    background: $color5;
    background-color: $color5;
    background-image: url('../images/logo-business.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    .img-panel-home {
      width: 520px;
      height: 250px;
    }
  }
  .panel-home-body {
    padding: 15px 15px;
    font-size: 14px;
    color: $color6;
    .icon {
      padding: 10px 0;
      .icon-personal {
        width: 50px;
        height: 30px;
      }
      .icon-business {
        width: 40px;
        height: 30px;
      }
    }
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
  }
}

// ===================Responsive Extra Small Device===================== \\
@media only screen and (min-width: 320px) {
  .wrapper-home {
    padding: 0 15px;
  }

  .panel-home {
    margin: 10px 0;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 350px;
        height: 220px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 350px;
        height: 220px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      color: $color6;
      .panel-content {
        font-size: 14.5px;
      }
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
  }
}

// ===================Responsive Extra Small Device===================== \\
@media only screen and (min-width: 414px) {
  .wrapper-home {
    padding: 0 20px;
  }

  .panel-home {
    margin: 10px 0;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 460px;
        height: 300px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 460px;
        height: 300px;
      }
    }
    .panel-home-body {
      padding: 15px 20px;
      color: $color6;
      .panel-content {
        font-size: 16px;
      }
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Extra Small Device - Rotate===================== \\
@media only screen and (min-width: 568px) {
  .wrapper-home {
    padding: 0 20px;
  }

  .panel-home {
    margin: 10px 0;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 550px;
        height: 270px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 550px;
        height: 270px;
      }
    }
    .panel-home-body {
      padding: 15px 85px;
      color: $color6;
      .panel-content {
        font-size: 18px;
      }
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Extra Small Device - Rotate===================== \\
@media only screen and (min-width: 667px) {
  .wrapper-home {
    padding: 0 15px;
  }

  .panel-home {
    margin: 10px 0;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 650px;
        height: 320px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 650px;
        height: 320px;
      }
    }
    .panel-home-body {
      padding: 15px 125px;
      color: $color6;
      .panel-content {
        font-size: 18px;
      }
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Extra Small Device - Rotate===================== \\
@media only screen and (min-width: 736px) {
  .wrapper-home {
    padding: 0 15px;
  }

  .panel-home {
    margin: 10px 0;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 720px;
        height: 380px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 720px;
        height: 380px;
      }
    }
    .panel-home-body {
      padding: 15px 125px;
      color: $color6;
      .panel-content {
        font-size: 20px;
      }
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Small Device===================== \\
@media only screen and (min-width: 768px) {
  .wrapper-home {
    padding: 0;
  }

  .panel-home {
    margin: 10px -10px;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 380px;
        height: 220px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 380px;
        height: 220px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      color: $color6;
      .panel-content {
        font-size: 14px;
      }
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Small Device - Rotate===================== \\
@media only screen and (min-width: 1024px) {
  .wrapper-home {
    padding: 0 100px;
  }

  .panel-home {
    margin: 10px -10px;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 380px;
        height: 200px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 380px;
        height: 200px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      font-size: 14px;
      color: $color6;
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Large Device===================== \\
@media only screen and (min-width: 1280px) {
  .wrapper-home {
    padding: 0 195px;
  }

  .panel-home {
    margin: 10px -10px;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      font-size: 14px;
      color: $color6;
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Large Device===================== \\
@media only screen and (min-width: 1366px) {
  .wrapper-home {
    padding: 0 195px;
  }

  .panel-home {
    margin: 10px -10px;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      font-size: 14px;
      color: $color6;
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Large Device===================== \\
@media only screen and (min-width: 1400px) {
  .wrapper-home {
    padding: 0 195px;
  }

  .panel-home {
    margin: 10px -10px;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      font-size: 14px;
      color: $color6;
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}

// ===================Responsive Large Device===================== \\
@media only screen and (min-width: 1680px) {
  .wrapper-home {
    padding: 0 195px;
  }

  .panel-home {
    margin: 10px -10px;
    background: $white;
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    .panel-home-head {
      padding-bottom: 5px;
    }
    .personal {
      background: $color3;
      background-color: $color3;
      background-image: url('../images/logo-personal.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .business {
      background: $color5;
      background-color: $color5;
      background-image: url('../images/logo-business.png');
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      .img-panel-home {
        width: 390px;
        height: 220px;
      }
    }
    .panel-home-body {
      padding: 15px 25px;
      font-size: 14px;
      color: $color6;
      .icon {
        padding: 10px 0;
        .icon-personal {
          width: 50px;
          height: 30px;
        }
        .icon-business {
          width: 40px;
          height: 30px;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    }
  }
}