.btn-personal {
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
  background: $color3;
  background-color: $color3;
  color: $white;
  -webkit-transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  &:hover {
    background: $color3_5;
    background-color: $color3_5;
    color: $white;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  }
}

.btn-business {
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
  background: $color5;
  background-color: $color5;
  color: $white;
  -webkit-transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  &:hover {
    background: $color5_5;
    background-color: $color5_5;
    color: $white;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
  }
}

// ===================Responsive Extra Small Device===================== \\
// @media only screen and (min-width: 320px) {
//   .btn-personal {
//     padding: 10px 35px;
//     border-radius: 30px;
//     border: none;
//     background: $color3;
//     background-color: $color3;
//     color: $white;
//   }
//   .btn-business {
//     padding: 10px 35px;
//     border-radius: 30px;
//     border: none;
//     background: $color5;
//     background-color: $color5;
//     color: $white;
//   }
// }

// ===================Responsive Extra Small Device===================== \\
// @media only screen and (min-width: 414px) {
//   .btn-personal {
//     padding: 10px 35px;
//     border-radius: 30px;
//     border: none;
//     background: $color3;
//     background-color: $color3;
//     color: $white;
//   }
//   .btn-business {
//     padding: 10px 35px;
//     border-radius: 30px;
//     border: none;
//     background: $color5;
//     background-color: $color5;
//     color: $white;
//   }
// }

// ===================Responsive Small Device===================== \\
// @media only screen and (min-width: 768px) {
//   .btn-personal {
//     padding: 10px 35px;
//     border-radius: 30px;
//     border: none;
//     background: $color3;
//     background-color: $color3;
//     color: $white;
//   }
//   .btn-business {
//     padding: 10px 35px;
//     border-radius: 30px;
//     border: none;
//     background: $color5;
//     background-color: $color5;
//     color: $white;
//   }
// }