.input-group-addon {
  background: $color17;
  background-color: $color17;
  border-color: $color16;
  border-right: none;
  img {
    width: 20px;
    height: 20px;
  }
}

select {
  outline: none;
}

.form-control {
  font-weight: 700;
  background: $color17;
  color: $white;
  border-color: $color16;
  outline: none;
  &:focus {
    border-color: $color16;
  }
}

.dash-badge-wrapper {
  position: absolute;
  top: -5px;
  right: 15px;
}

.dropdown-badge {
  float: right;
}

.dash-badge {
  background: $color12;
  background-color: $color12;
  padding: 5px 8px;
}

.btn-font {
  padding: 5px 7px;
  margin-top: 2px;
  margin-bottom: 15px;
  margin-right: 1px;
  background: $color17;
  background-color: $color17;
  border: 1px solid $color16;
  text-decoration: none;
  border-radius: 2px;
  img {
    width: 13px;
    height: 13px;
  }
  &:focus {
    border-color: $color16;
  }
}

.btn-font-active {
  background: $color8;
  background-color: $color8;
}

.btn-select-menu {
  margin-top: 10px;
  margin-right: 5px;
  border: 1px solid $color16;
  border-radius: 5px;
  padding: 30px 35px;
  background: $color17;
  background-color: $color17;
  img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
  }
  i {
    color: $color16;
  }
  span {
    display: block;
    text-align: center;
    color: $color16;
    font-size: 12px;
  }
  &:hover {
    background: $color8;
    background-color: $color8;
    i {
      color: $white;
    }
    span {
      display: block;
      text-align: center;
      color: $white;
    }
  }
}

.btn-select-menu-sm {
  padding: 15px 20.5px;
  margin-right: 1px;
  i {
    color: $color16;
  }
  span {
    font-size: 10px;
    padding: 0 auto;
    color: $color16;
  }
}

.btn-select-menu-active {
  background: $color7;
  background-color: $color7;
  opacity: .8;
  border: 1px solid $color2;
  i {
    color: $white;
  }
  span {
    color: $white;
  }
  &:hover {
    background: $color7;
    background-color: $color7;
    opacity: .8;
    border: 1px solid $color2;
    i {
      color: $white;
    }
    span {
      color: $white;
    }
  }
}

.upload-photos {
  margin-top: 10px;
  background: $color17;
  background-color: $color17;
  border: 1px solid $color16;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  .upload-title {
    font-size: 17px;
    color: $color16;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .help-block {
    font-weight: 300;
    color: $color16;
  }
}

.btn-sidebar-menu {
  background: none;
  border: none;
  font-weight: 400;
  color: $color16;
  text-decoration: none;
  i {
    font-size: 10px;
    margin-top: 4px;
    float: right;
  }
}

.btn-zoom-left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: $color17;
  background-color: $color17;
  border-color: $color17;
  &:hover, &:focus, &:target {
    background: $color17;
    background-color: $color17;
    border-color: $color17;
  }
}

.btn-zoom-center {
  background: $color17;
  background-color: $color17;
  border-color: $color17;
  &:hover, &:focus, &:target {
    background: $color17;
    background-color: $color17;
    border-color: $color17;
  }
}

.btn-zoom-right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: $color17;
  background-color: $color17;
  border-color: $color17;
  &:hover, &:focus, &:target {
    background: $color17;
    background-color: $color17;
    border-color: $color17;
  }
}

.wrapper-slider {
  display: flex;
  span {
    flex: 1;
    margin-right: 15px;
  }
  .slider {
    margin-top: 10px;
    margin-right: 30px;
    flex: 2;
    -webkit-appearance: none;
    width: 100px;
    height: 3px;
    background: $color7;
    outline: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: $color17;
    border: 3px solid $white;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    -moz-appearance: none;    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $color17;
    background-color: $color17;
    border: 3px solid $white;
    cursor: pointer;
  }
  .value-slider {
    flex: 3;
    width: 30px;
    background: $color17;
    background-color: $color17;
    border: 1px solid $color16;
    border-radius: 3px;
    color: $white;
    outline: none;
    padding-left: 5px;
  }
  .value-slider::-webkit-outer-spin-button{
    background: $color17;
    background-color: $color17;
    color: $white;
  }
  .value-slider::-webkit-inner-spin-button{
    background: $color17;
    background-color: $color17;
    color: $white;
  }
}

#tools, #photos, #products {
  display: none;
}