.img-brand {
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.avatar {
  width: 30px;
  height: 30px;
}

.navbar-badge {
  position: absolute;
  top: 0;
  right: 25px;
}

.navbar-dash {
  background: $color7;
  background-color: $color7;
  padding: 20px 0;
  width: 100%;
  max-width: 100%;
  min-width: 1000px;
  .navbar-dash-logo {
    position: relative;
    display: inline-block;
    margin-top: 3px;
    margin-right: 15px;
    a {
      font-size: 18px;
      font-weight: 700;
      color: $white;
      vertical-align: middle;
      text-decoration: none;
      img {
        width: 30px;
        height: 32px;
        margin-right: 5px;
      }      
    }
  }
  .navbar-dash-nav {
    position: relative;
    display: inline-block;
    a {
      color: $white;
      text-decoration: none;
      i {
        font-size: 10px;
        margin-right: 5px;
      }
    }
    .profile {
      float: right;
      .avatar {
        width: 30px;
        height: 30px;
      }
      i {
        margin-left: 7px;
      }
      .profile-dropdown {
        float: left;
        overflow: hidden;
        .profile-dropdown-hover {
          color: $color6;
        }
        .profile-dropdown-content {
          display: none;
          position: absolute;
          background: $white;
          right: 0;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          -o-border-radius: 7px;
          border-radius: 7px;
          -webkit-z-index: 1005;
          -moz-z-index: 1005;
          -o-z-index: 1005;
          z-index: 1005;
          -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
          -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
          .list-dropdown {
            font-weight: 700;
            float: none;
            color: $color6;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            color: $color13;
            .img-list-dropdown {
              width: 16px;
              height: 16px;
              margin-right: 6px;
            }
            &:hover {
              color: $dark;
            }
          }
          .profile-dropdown-head {
            background: $color7;
            background-color: $color7;
            color: $white;
            padding-bottom: 30px;
            .pdh-avatar {
              padding: 10px 0;
              margin: 0;
            }
            .pdh-name {
              font-size: 18px;
              font-weight: 700;
              padding: 0 25px;
              margin: 0;
              color: $white;
            }
            .pdh-email {
              font-size: 14;
              font-weight: 700;
              padding: 0 25px 10px 25px;
              margin: 0;
              color: $color11;
            }
            .btn-outlined-default {
              padding: 8px 20px;
              color: $color11;
              font-weight:700;
              background: transparent;
              border: 1px solid $color11;
              border-radius: 3px;
              &:hover {
                background: $color12;
                color: $color11;
              }
            }
          }
          .profile-dropdown-footer {
            background: $color14;
            background-color: $color14;
            padding: 10px 0;
            text-align: center;
            a {
              font-weight: 700;
              color: $color15;
            }
            &:hover {
              background: $color14_5;
              background-color: $color14_5;
            }
          }
        }
        &:hover .profile-dropdown-content {
          display: block;
        }
      }
    }
  }
  .navbar-dash-center {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-dash-right {
    float: right;
  }
}

.dash-sidebar-left {
  float: left;
  width: 300px;
  height: 100vh;
  background: $color8;
  background-color: $color8;
  display: block;
  .sidebar-menu {
    padding: 15px 15px;
    a {
      font-weight: 400;
      color: $color16;
      text-decoration: none;
      i {
        font-size: 10px;
        margin-top: 4px;
        float: right;
      }
      &:hover {
        color: $white;
      }
    }
    .sidebar-menu-active {
      color: $white;
    }
    .br-dash-sidebar {
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 3px solid $color17;
    }
  }
}

.content {
  float: left;
  display: block;
  height: 100vh;
  #ruler {
    height: 100vh;
    width: 751px;
    border: 1px solid #202838;
    position: absolute;
  }
  .wrapper-content {
    margin: 40px 30px;
  }
  #literally-core {
    width: 100%;
    height: 100vh;
    position: absolute;
  }
}

.dash-sidebar-right {
  float: right;
  width: 300px;
  height: 100vh;
  background: $color8;
  background-color: $color8;
  display: block;
  .sidebar-content {
    padding: 15px 15px;
  }
}

@media only screen and (min-width: 320px) {
  .navbar-dash {
    background: $color7;
    background-color: $color7;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    .navbar-dash-logo {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      margin-right: 15px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 30px;
          height: 32px;
          margin-right: 5px;
        }      
      }
    }
    .navbar-dash-nav {
      position: relative;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-right: 5px;
        }
      }
      .profile {
        float: right;
        .avatar {
          width: 30px;
          height: 30px;
        }
        i {
          margin-left: 7px;
        }
        .profile-dropdown {
          float: left;
          overflow: hidden;
          .profile-dropdown-hover {
            color: $color6;
          }
          .profile-dropdown-content {
            display: none;
            position: absolute;
            background: $white;
            right: 0;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            -webkit-z-index: 1005;
            -moz-z-index: 1005;
            -o-z-index: 1005;
            z-index: 1005;
            -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            .list-dropdown {
              font-weight: 700;
              float: none;
              color: $color6;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              color: $color13;
              .img-list-dropdown {
                width: 16px;
                height: 16px;
                margin-right: 6px;
              }
              &:hover {
                color: $dark;
              }
            }
            .profile-dropdown-head {
              background: $color7;
              background-color: $color7;
              color: $white;
              padding-bottom: 30px;
              .pdh-avatar {
                padding: 10px 0;
                margin: 0;
              }
              .pdh-name {
                font-size: 18px;
                font-weight: 700;
                padding: 0 25px;
                margin: 0;
                color: $white;
              }
              .pdh-email {
                font-size: 14;
                font-weight: 700;
                padding: 0 25px 10px 25px;
                margin: 0;
                color: $color11;
              }
              .btn-outlined-default {
                padding: 8px 20px;
                color: $color11;
                font-weight:700;
                background: transparent;
                border: 1px solid $color11;
                border-radius: 3px;
                &:hover {
                  background: $color12;
                  color: $color11;
                }
              }
            }
            .profile-dropdown-footer {
              background: $color14;
              background-color: $color14;
              padding: 10px 0;
              text-align: center;
              a {
                font-weight: 700;
                color: $color15;
              }
              &:hover {
                background: $color14_5;
                background-color: $color14_5;
              }
            }
          }
          &:hover .profile-dropdown-content {
            display: block;
          }
        }
      }
    }
    .navbar-dash-center {
      position: absolute;
      top: 28px;
      left: 45%;
      transform: translateX(165%);
    }
    .navbar-dash-right {
      float: right;
    }
  }
  
  .dash-sidebar-left {
    position: absolute;
    width: 300px;
    height: 2000px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-menu {
      padding: 15px 15px;
      a {
        font-weight: 400;
        color: $color16;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-top: 4px;
          float: right;
        }
        &:hover {
          color: $white;
        }
      }
      .sidebar-menu-active {
        color: $white;
      }
      .br-dash-sidebar {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid $color17;
      }
    }
  }
  
  .content {
    position: absolute;
    left: 300px;
    display: block;
    height: 2000px;
    #ruler {
      height: 2000px;
      width: 401px;
      border: 1px solid #202838;
      position: absolute;
    }
    .wrapper-content {
      margin: 40px 30px;
    }
    #literally-core {
      width: 100%;
      height: 2000px;
      min-height: 100%;
      max-height: 100%;
      position: absolute;
    }
  }
  
  .dash-sidebar-right {
    position: absolute;
    left: 700px;
    right: 0;
    width: 300px;
    height: 2000px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-content {
      padding: 15px 15px;
    }
  }
}

@media only screen and (min-width: 480px) {
  .navbar-dash {
    background: $color7;
    background-color: $color7;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    .navbar-dash-logo {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      margin-right: 15px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 30px;
          height: 32px;
          margin-right: 5px;
        }      
      }
    }
    .navbar-dash-nav {
      position: relative;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-right: 5px;
        }
      }
      .profile {
        float: right;
        .avatar {
          width: 30px;
          height: 30px;
        }
        i {
          margin-left: 7px;
        }
        .profile-dropdown {
          float: left;
          overflow: hidden;
          .profile-dropdown-hover {
            color: $color6;
          }
          .profile-dropdown-content {
            display: none;
            position: absolute;
            background: $white;
            right: 0;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            -webkit-z-index: 1005;
            -moz-z-index: 1005;
            -o-z-index: 1005;
            z-index: 1005;
            -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            .list-dropdown {
              font-weight: 700;
              float: none;
              color: $color6;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              color: $color13;
              .img-list-dropdown {
                width: 16px;
                height: 16px;
                margin-right: 6px;
              }
              &:hover {
                color: $dark;
              }
            }
            .profile-dropdown-head {
              background: $color7;
              background-color: $color7;
              color: $white;
              padding-bottom: 30px;
              .pdh-avatar {
                padding: 10px 0;
                margin: 0;
              }
              .pdh-name {
                font-size: 18px;
                font-weight: 700;
                padding: 0 25px;
                margin: 0;
                color: $white;
              }
              .pdh-email {
                font-size: 14;
                font-weight: 700;
                padding: 0 25px 10px 25px;
                margin: 0;
                color: $color11;
              }
              .btn-outlined-default {
                padding: 8px 20px;
                color: $color11;
                font-weight:700;
                background: transparent;
                border: 1px solid $color11;
                border-radius: 3px;
                &:hover {
                  background: $color12;
                  color: $color11;
                }
              }
            }
            .profile-dropdown-footer {
              background: $color14;
              background-color: $color14;
              padding: 10px 0;
              text-align: center;
              a {
                font-weight: 700;
                color: $color15;
              }
              &:hover {
                background: $color14_5;
                background-color: $color14_5;
              }
            }
          }
          &:hover .profile-dropdown-content {
            display: block;
          }
        }
      }
    }
    .navbar-dash-center {
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(100%);
    }
    .navbar-dash-right {
      float: right;
    }
  }
  
  .dash-sidebar-left {
    position: absolute;
    width: 300px;
    height: 2000px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-menu {
      padding: 15px 15px;
      a {
        font-weight: 400;
        color: $color16;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-top: 4px;
          float: right;
        }
        &:hover {
          color: $white;
        }
      }
      .sidebar-menu-active {
        color: $white;
      }
      .br-dash-sidebar {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid $color17;
      }
    }
  }
  
  .content {
    position: absolute;
    left: 300px;
    display: block;
    height: 2000px;
    #ruler {
      height: 2000px;
      width: 401px;
      border: 1px solid #202838;
      position: absolute;
    }
    .wrapper-content {
      margin: 40px 30px;
    }
    #literally-core {
      width: 100%;
      height: 2000px;
      min-height: 100%;
      max-height: 100%;
      position: absolute;
    }
  }
  
  .dash-sidebar-right {
    position: absolute;
    left: 700px;
    right: 0;
    width: 300px;
    height: 2000px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-content {
      padding: 15px 15px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar-dash {
    background: $color7;
    background-color: $color7;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    .navbar-dash-logo {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      margin-right: 15px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 30px;
          height: 32px;
          margin-right: 5px;
        }      
      }
    }
    .navbar-dash-nav {
      position: relative;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-right: 5px;
        }
      }
      .profile {
        float: right;
        .avatar {
          width: 30px;
          height: 30px;
        }
        i {
          margin-left: 7px;
        }
        .profile-dropdown {
          float: left;
          overflow: hidden;
          .profile-dropdown-hover {
            color: $color6;
          }
          .profile-dropdown-content {
            display: none;
            position: absolute;
            background: $white;
            right: 0;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            -webkit-z-index: 1005;
            -moz-z-index: 1005;
            -o-z-index: 1005;
            z-index: 1005;
            -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            .list-dropdown {
              font-weight: 700;
              float: none;
              color: $color6;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              color: $color13;
              .img-list-dropdown {
                width: 16px;
                height: 16px;
                margin-right: 6px;
              }
              &:hover {
                color: $dark;
              }
            }
            .profile-dropdown-head {
              background: $color7;
              background-color: $color7;
              color: $white;
              padding-bottom: 30px;
              .pdh-avatar {
                padding: 10px 0;
                margin: 0;
              }
              .pdh-name {
                font-size: 18px;
                font-weight: 700;
                padding: 0 25px;
                margin: 0;
                color: $white;
              }
              .pdh-email {
                font-size: 14;
                font-weight: 700;
                padding: 0 25px 10px 25px;
                margin: 0;
                color: $color11;
              }
              .btn-outlined-default {
                padding: 8px 20px;
                color: $color11;
                font-weight:700;
                background: transparent;
                border: 1px solid $color11;
                border-radius: 3px;
                &:hover {
                  background: $color12;
                  color: $color11;
                }
              }
            }
            .profile-dropdown-footer {
              background: $color14;
              background-color: $color14;
              padding: 10px 0;
              text-align: center;
              a {
                font-weight: 700;
                color: $color15;
              }
              &:hover {
                background: $color14_5;
                background-color: $color14_5;
              }
            }
          }
          &:hover .profile-dropdown-content {
            display: block;
          }
        }
      }
    }
    .navbar-dash-center {
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(25%);
    }
    .navbar-dash-right {
      float: right;
    }
  }
  
  .dash-sidebar-left {
    position: absolute;
    width: 300px;
    height: 1500px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-menu {
      padding: 15px 15px;
      a {
        font-weight: 400;
        color: $color16;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-top: 4px;
          float: right;
        }
        &:hover {
          color: $white;
        }
      }
      .sidebar-menu-active {
        color: $white;
      }
      .br-dash-sidebar {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid $color17;
      }
    }
  }
  
  .content {
    position: absolute;
    left: 300px;
    display: block;
    height: 1500px;
    #ruler {
      height: 1500px;
      width: 401px;
      border: 1px solid #202838;
      position: absolute;
    }
    .wrapper-content {
      margin: 40px 30px;
    }
    #literally-core {
      width: 100%;
      height: 1500px;
      min-height: 100%;
      max-height: 100%;
      position: absolute;
    }
  }
  
  .dash-sidebar-right {
    position: absolute;
    left: 700px;
    right: 0;
    width: 300px;
    height: 1500px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-content {
      padding: 15px 15px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-dash {
    background: $color7;
    background-color: $color7;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    .navbar-dash-logo {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      margin-right: 15px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 30px;
          height: 32px;
          margin-right: 5px;
        }      
      }
    }
    .navbar-dash-nav {
      position: relative;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-right: 5px;
        }
      }
      .profile {
        float: right;
        .avatar {
          width: 30px;
          height: 30px;
        }
        i {
          margin-left: 7px;
        }
        .profile-dropdown {
          float: left;
          overflow: hidden;
          .profile-dropdown-hover {
            color: $color6;
          }
          .profile-dropdown-content {
            display: none;
            position: absolute;
            background: $white;
            right: 0;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            -webkit-z-index: 1005;
            -moz-z-index: 1005;
            -o-z-index: 1005;
            z-index: 1005;
            -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            .list-dropdown {
              font-weight: 700;
              float: none;
              color: $color6;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              color: $color13;
              .img-list-dropdown {
                width: 16px;
                height: 16px;
                margin-right: 6px;
              }
              &:hover {
                color: $dark;
              }
            }
            .profile-dropdown-head {
              background: $color7;
              background-color: $color7;
              color: $white;
              padding-bottom: 30px;
              .pdh-avatar {
                padding: 10px 0;
                margin: 0;
              }
              .pdh-name {
                font-size: 18px;
                font-weight: 700;
                padding: 0 25px;
                margin: 0;
                color: $white;
              }
              .pdh-email {
                font-size: 14;
                font-weight: 700;
                padding: 0 25px 10px 25px;
                margin: 0;
                color: $color11;
              }
              .btn-outlined-default {
                padding: 8px 20px;
                color: $color11;
                font-weight:700;
                background: transparent;
                border: 1px solid $color11;
                border-radius: 3px;
                &:hover {
                  background: $color12;
                  color: $color11;
                }
              }
            }
            .profile-dropdown-footer {
              background: $color14;
              background-color: $color14;
              padding: 10px 0;
              text-align: center;
              a {
                font-weight: 700;
                color: $color15;
              }
              &:hover {
                background: $color14_5;
                background-color: $color14_5;
              }
            }
          }
          &:hover .profile-dropdown-content {
            display: block;
          }
        }
      }
    }
    .navbar-dash-center {
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-45%);
    }
    .navbar-dash-right {
      float: right;
    }
  }
  
  .dash-sidebar-left {
    position: absolute;
    width: 300px;
    height: 1500px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-menu {
      padding: 15px 15px;
      a {
        font-weight: 400;
        color: $color16;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-top: 4px;
          float: right;
        }
        &:hover {
          color: $white;
        }
      }
      .sidebar-menu-active {
        color: $white;
      }
      .br-dash-sidebar {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid $color17;
      }
    }
  }
  
  .content {
    position: absolute;
    left: 300px;
    display: block;
    height: 1500px;
    #ruler {
      height: 1500px;
      width: 401px;
      border: 1px solid #202838;
      position: absolute;
    }
    .wrapper-content {
      margin: 40px 30px;
    }
    #literally-core {
      width: 100%;
      height: 1500px;
      min-height: 100%;
      max-height: 100%;
      position: absolute;
    }
  }
  
  .dash-sidebar-right {
    position: absolute;
    left: 700px;
    right: 0;
    width: 300px;
    height: 1500px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-content {
      padding: 15px 15px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .navbar-dash {
    background: $color7;
    background-color: $color7;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    .navbar-dash-logo {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      margin-right: 15px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 30px;
          height: 32px;
          margin-right: 5px;
        }      
      }
    }
    .navbar-dash-nav {
      position: relative;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-right: 5px;
        }
      }
      .profile {
        float: right;
        .avatar {
          width: 30px;
          height: 30px;
        }
        i {
          margin-left: 7px;
        }
        .profile-dropdown {
          float: left;
          overflow: hidden;
          .profile-dropdown-hover {
            color: $color6;
          }
          .profile-dropdown-content {
            display: none;
            position: absolute;
            background: $white;
            right: 0;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            -webkit-z-index: 1005;
            -moz-z-index: 1005;
            -o-z-index: 1005;
            z-index: 1005;
            -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            .list-dropdown {
              font-weight: 700;
              float: none;
              color: $color6;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              color: $color13;
              .img-list-dropdown {
                width: 16px;
                height: 16px;
                margin-right: 6px;
              }
              &:hover {
                color: $dark;
              }
            }
            .profile-dropdown-head {
              background: $color7;
              background-color: $color7;
              color: $white;
              padding-bottom: 30px;
              .pdh-avatar {
                padding: 10px 0;
                margin: 0;
              }
              .pdh-name {
                font-size: 18px;
                font-weight: 700;
                padding: 0 25px;
                margin: 0;
                color: $white;
              }
              .pdh-email {
                font-size: 14;
                font-weight: 700;
                padding: 0 25px 10px 25px;
                margin: 0;
                color: $color11;
              }
              .btn-outlined-default {
                padding: 8px 20px;
                color: $color11;
                font-weight:700;
                background: transparent;
                border: 1px solid $color11;
                border-radius: 3px;
                &:hover {
                  background: $color12;
                  color: $color11;
                }
              }
            }
            .profile-dropdown-footer {
              background: $color14;
              background-color: $color14;
              padding: 10px 0;
              text-align: center;
              a {
                font-weight: 700;
                color: $color15;
              }
              &:hover {
                background: $color14_5;
                background-color: $color14_5;
              }
            }
          }
          &:hover .profile-dropdown-content {
            display: block;
          }
        }
      }
    }
    .navbar-dash-center {
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar-dash-right {
      float: right;
    }
  }
  
  .dash-sidebar-left {
    float: left;
    width: 300px;
    height: 100vh;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-menu {
      padding: 15px 15px;
      a {
        font-weight: 400;
        color: $color16;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-top: 4px;
          float: right;
        }
        &:hover {
          color: $white;
        }
      }
      .sidebar-menu-active {
        color: $white;
      }
      .br-dash-sidebar {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid $color17;
      }
    }
  }
  
  .content {
    float: left;
    display: block;
    height: 100vh;
    #ruler {
      height: 100vh;
      width: 765px;
      border: 1px solid #202838;
      position: absolute;
    }
    .wrapper-content {
      margin: 40px 30px;
    }
    #literally-core {
      width: 100%;
      height: 100vh;
      position: absolute;
    }
  }
  
  .dash-sidebar-right {
    width: 300px;
    height: 100vh;
    left: 1065px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-content {
      padding: 15px 15px;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .navbar-dash {
    background: $color7;
    background-color: $color7;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000px;
    .navbar-dash-logo {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      margin-right: 15px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 30px;
          height: 32px;
          margin-right: 5px;
        }      
      }
    }
    .navbar-dash-nav {
      position: relative;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-right: 5px;
        }
      }
      .profile {
        float: right;
        .avatar {
          width: 30px;
          height: 30px;
        }
        i {
          margin-left: 7px;
        }
        .profile-dropdown {
          float: left;
          overflow: hidden;
          .profile-dropdown-hover {
            color: $color6;
          }
          .profile-dropdown-content {
            display: none;
            position: absolute;
            background: $white;
            right: 0;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            -webkit-z-index: 1005;
            -moz-z-index: 1005;
            -o-z-index: 1005;
            z-index: 1005;
            -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
            .list-dropdown {
              font-weight: 700;
              float: none;
              color: $color6;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              color: $color13;
              .img-list-dropdown {
                width: 16px;
                height: 16px;
                margin-right: 6px;
              }
              &:hover {
                color: $dark;
              }
            }
            .profile-dropdown-head {
              background: $color7;
              background-color: $color7;
              color: $white;
              padding-bottom: 30px;
              .pdh-avatar {
                padding: 10px 0;
                margin: 0;
              }
              .pdh-name {
                font-size: 18px;
                font-weight: 700;
                padding: 0 25px;
                margin: 0;
                color: $white;
              }
              .pdh-email {
                font-size: 14;
                font-weight: 700;
                padding: 0 25px 10px 25px;
                margin: 0;
                color: $color11;
              }
              .btn-outlined-default {
                padding: 8px 20px;
                color: $color11;
                font-weight:700;
                background: transparent;
                border: 1px solid $color11;
                border-radius: 3px;
                &:hover {
                  background: $color12;
                  color: $color11;
                }
              }
            }
            .profile-dropdown-footer {
              background: $color14;
              background-color: $color14;
              padding: 10px 0;
              text-align: center;
              a {
                font-weight: 700;
                color: $color15;
              }
              &:hover {
                background: $color14_5;
                background-color: $color14_5;
              }
            }
          }
          &:hover .profile-dropdown-content {
            display: block;
          }
        }
      }
    }
    .navbar-dash-center {
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar-dash-right {
      float: right;
    }
  }
  
  .dash-sidebar-left {
    float: left;
    width: 300px;
    height: 100vh;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-menu {
      padding: 15px 15px;
      a {
        font-weight: 400;
        color: $color16;
        text-decoration: none;
        i {
          font-size: 10px;
          margin-top: 4px;
          float: right;
        }
        &:hover {
          color: $white;
        }
      }
      .sidebar-menu-active {
        color: $white;
      }
      .br-dash-sidebar {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid $color17;
      }
    }
  }
  
  .content {
    float: left;
    display: block;
    height: 100vh;
    #ruler {
      height: 100vh;
      width: 750px;
      border: 1px solid #202838;
      position: absolute;
    }
    .wrapper-content {
      margin: 40px 30px;
    }
    #literally-core {
      width: 100%;
      height: 100vh;
      position: absolute;
    }
  }
  
  .dash-sidebar-right {
    width: 300px;
    height: 100vh;
    left: 1050px;
    background: $color8;
    background-color: $color8;
    display: block;
    .sidebar-content {
      padding: 15px 15px;
    }
  }
}